.page .entry-content {
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.wp-container-10.wp-block-social-links.aligncenter {
  margin-left: 0px;
  margin-top: 0px;
}

.alignleft.size-full.is-resized {
  margin-bottom: 0px;
}